body
{
	/*overflow-x: hidden;*/
	/*overflow-y: hidden;*/
}
/*
::before
{
    position:absolute;
    left:100px;
    top:100px;
    width:66%;
    height: 100px;
    border-top: 2px solid #FF0000;
    border-bottom: 2px solid #FF0000;
    border-left:2px solid #FF0000;
    border-right:2px solid #FF0000;
    content:'';
    z-index: 1;
}
*/
#video
{
	width:100%;
	margin: 0 0 0px 0;
	border: 1px solid #ccc;
	display: block;
}
#snap
{
	position: fixed;
	margin:0 auto;
	left: 5%;
	bottom:20px;
	height:10%;
	width:90%;
	font-size: 20px;
	background:#00A0EA;
	color:#ffffff !important;
	display: block;
}
#ImgFrm
{
	position: absolute;
	left:20vw;
	top:20vw;
	margin:0 auto;
	width:60vw;
	height:85vw;
	/*border:2px solid #FF0000;*/
	outline: #FF0000 dashed thick;
	display: block;
}
#canvas
{
	position:absolute;
	top: 5%;
	left: 10%;
	/*margin:0 auto;*/
	width:80%;
	height:80%;
	border: 1px solid #0000FF;
	/*display: block;*/
	display: none;
}
#saveImg
{
	position: fixed;
	margin:0 auto;
	left: 5%;
	bottom:20px;
	height:10%;
	width:90%;
	font-size: 20px;
	background:#00A0EA;
	color:#ffffff !important;
	display: none;
}

/*#container{*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*position: absolute;*/
	/*left: 0%;*/
	/*top: 0%;*/
/*}*/
#box{
	/*-webkit-box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.81);*/
/*-moz-box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.81);*/
/*box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.81);*/

	position: absolute;
	transform: translate(50vw,40vh);
	/*left: 20vw;*/
	/*top: 20vw;*/
	width: 60px;
	height: 60px;
	margin: 0 auto;

	/*padding: 0px;*/
	/*margin-left: 0px;*/
	/*margin-top: 0px;*/
	border-radius: 100px;
	background: #FFFF00/*#ecf0f1*/;
	color: #FF0000/*#7f8c8d*/;
	font-size: 1.3em;
	line-height: 10vw;
	text-align: center;
}
