body
{
    margin: 0em;
    /*background-image: url("./imgs/bkground.jpg");*/
}
div.container
{
    width:100%;
    margin:0px;
    padding: 0px;
    border:0px solid gray;

}
div.header
{
    width: 100%;
    padding-bottom:0em;
    color:white;
    text-align: center;
    background-color:skyblue;
    clear:left;
}
div.caption a
{
    text-decoration:none;
    color: red;
    text-align: center;
    font-size:30pt;
    FONT-FAMILY: 华文行楷;
}
p.signature
{
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    font-size:15pt;
}
div.footer
{
    padding:0.5em;
    color:white;
    background-color:gray;
    clear:left;
}
div.content
{
    width: 100%;
    height: 1000px;
    margin-left:0px;
    margin: 0em;
    padding:0em;
}
div.left-side
{
    background: #E6E6E6;
    float: left;
    height: 100%;
    width: 20%;
    overflow-y:auto;
}
div.right-side
{
    float: left;
    height: 100%;
    width:80%;
    margin-left: -2px;
    border-left:1px solid gray;
    border-right:1px solid gray;
}


ul
{
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
    text-align: center;
    line-height:150%;
}
ul li
{
    display:inline;
}
ul a
{
    float:left;
    width:7em;
    text-decoration:none;
    color:white;
    background-color:purple;
    padding:0.2em 0.6em;
    border-right:1px solid white;
}
ul a:hover
{
    background-color: yellow;
    color: red;
}